@font-face
  font-family 'Gilroy'
  src url('@/assets/fonts/SVN-Gilroy-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Gilroy'
  src url('@/assets/fonts/SVN-Gilroy-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

@font-face
  font-family 'Gilroy'
  src url('@/assets/fonts/SVN-Gilroy-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal

body
  font-family 'Gilroy', sans-serif
